In [17]:
from pycaret.classification import *
import numpy as np
import pandas

In [18]:
data = pandas.read_excel('../ignore/data_dropout_59-64.xlsx')
# grade =['เกรดปี1เทอม1',
#         'เกรดปี1เทอม2',
#         'เกรดปี2เทอม1',
#         'เกรดปี2เทอม2',
#         'เกรดปี3เทอม1',
#         'เกรดปี3เทอม2',                                                    
#         'เกรดปี4เทอม1',
#         'เกรดปี4เทอม2']

# data['mean'] = data.loc[:,grade].min(axis=1)
# data.iloc[:,41:53].fillna(0, inplace=True)
# data.iloc[:,41:53]
# data['STUDY_STATUS'] = np.where(data['ค่าเฉลี่ยเกรด'] < 1, 'R', data['STUDY_STATUS'])
# data['mean']
data['FUND_NAME_CODE'] = data["FUND_NAME_CODE"].replace('Y',1)
data['FUND_NAME_CODE'] = data["FUND_NAME_CODE"].replace('N',2)
data['FUND_NAME_CODE'] = data["FUND_NAME_CODE"].replace('other',3)

In [19]:
data['SEX_SHORT_NAME_THAI'] = data['SEX_SHORT_NAME_THAI'].replace('ช',0)
data['SEX_SHORT_NAME_THAI'] = data['SEX_SHORT_NAME_THAI'].replace('ญ',1)

In [20]:
data['ENT_METHOD'] = data['ENT_METHOD'].replace('B1',103)
data['ENT_METHOD'] = data['ENT_METHOD'].replace('D0',100)
data['ENT_METHOD'] = data['ENT_METHOD'].replace('P4',101)
data['ENT_METHOD'] = data['ENT_METHOD'].replace('E1',102)

In [21]:
data["IN_PROVINCE"] = data["IN_PROVINCE"].replace(["N","Y"],[0,1])
data["IN_PROVINCE_CAMPUS"] = data["IN_PROVINCE_CAMPUS"].replace(["N","Y"],[0,1])

In [22]:
data

,STUDENT_ID,ADMIT_YEAR,ADMIT_TERM,MAJOR_ID,MAJOR_NAME_THAI,DEPT_ID,DEPT_NAME_THAI,FAC_ID,FAC_NAME_THAI,STUDY_LEVEL_ID,...,เกรดปี4เทอม1,เกรดปี4เทอม2,เกรดปี4เทอม3,GPA_SCHOOL,FUND_NAME,FUND_NAME_CODE,DEFORMITY_NAME,DEFORMITY_NAME_code,PARENTS_MARRIED_NAME,PARENTS_MARRIED_NAME_CODE
0,Y6rAL6a3ug,2559,1,215,วิศวกรรมเครื่องกล,30,ภาควิชาวิศวกรรมเครื่องกล,6,คณะวิศวกรรมศาสตร์,6,...,3.83,4.00,NaN,3.10,ไม่ได้รับทุน,2,ไม่พิการ,N,อยู่ด้วยกัน,9
1,ihEYqG7Q2P,2559,1,225,วิศวกรรมอุตสาหการ,31,ภาควิชาวิศวกรรมอุตสาหการ,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,3.32,ไม่ได้รับทุน,2,ไม่พิการ,N,อยู่ด้วยกัน,9
2,EJwFAHDeDB,2559,1,210,วิศวกรรมไฟฟ้า,28,ภาควิชาวิศวกรรมไฟฟ้า,6,คณะวิศวกรรมศาสตร์,6,...,3.73,NaN,NaN,3.78,ได้รับทุน,1,ไม่พิการ,N,บิดาและมารดาแต่งงานใหม่,4
3,mAN7tIZz44,2559,1,215,วิศวกรรมเครื่องกล,30,ภาควิชาวิศวกรรมเครื่องกล,6,คณะวิศวกรรมศาสตร์,6,...,1.22,0.72,0.0,3.77,ได้รับทุน,1,ไม่พิการ,N,บิดาถึงแก่กรรม,6
4,rWseDSww8R,2559,1,235,วิศวกรรมเหมืองแร่,33,ภาควิชาวิศวกรรมเหมืองแร่และวัสดุ,6,คณะวิศวกรรมศาสตร์,6,...,4.00,0.00,NaN,3.21,ไม่ได้รับทุน,2,ไม่พิการ,N,อยู่ด้วยกัน,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,mPcmlJsEow,2564,1,210,วิศวกรรมไฟฟ้า,28,ภาควิชาวิศวกรรมไฟฟ้า,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,3.54,NaN,3,ไม่พิการ,N,อยู่ด้วยกัน,9
4116,IY8jWx00mt,2564,1,226,วิศวกรรมการผลิต,31,ภาควิชาวิศวกรรมอุตสาหการ,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,3.74,NaN,3,ไม่พิการ,N,อยู่ด้วยกัน,9
4117,uVfxDYkac8,2564,1,203,วิศวกรรมและการจัดการนวัตกรรม,193,คณะวิศวกรรมศาสตร์,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,3.25,NaN,3,ไม่พิการ,N,อยู่ด้วยกัน,9
4118,IcXALKhfPP,2564,1,203,วิศวกรรมและการจัดการนวัตกรรม,193,คณะวิศวกรรมศาสตร์,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,2.79,NaN,3,ไม่พิการ,N,มารดาถึงแก่กรรม,8
4119,q5SWpcypnh,2564,1,203,วิศวกรรมและการจัดการนวัตกรรม,193,คณะวิศวกรรมศาสตร์,6,คณะวิศวกรรมศาสตร์,6,...,NaN,NaN,NaN,3.26,ไม่ได้รับทุน,2,ไม่พิการ,N,อยู่ด้วยกัน,9

In [23]:
# data['MAJOR_ID'] = data['MAJOR_ID'].astype(str)
# data['DEPT_ID'] = data['DEPT_ID'].astype(str)
# data['STUDY_TYPE_ID'] = data['STUDY_TYPE_ID'].astype(str)
# data['DEGREE_ID'] = data['DEGREE_ID'].astype(str)
# data['PARENTS_MARRIED_NAME_CODE'] = data['PARENTS_MARRIED_NAME_CODE'].astype(str)

In [24]:
data = data[[   'MAJOR_ID', 
                        'DEPT_ID',  
                        'STUDY_TYPE_ID',
                        'DEGREE_ID', 
                        'STUDY_STATUS', 
                        'SEX_SHORT_NAME_THAI',
                        
                        # 'ENT_METHOD',  
                        'IN_PROVINCE',
                        'IN_PROVINCE_CAMPUS',
                        'เกรดปี1เทอม1',
                        'เกรดปี1เทอม2',
                        # 'เกรดปี1เทอม3',
                        'เกรดปี2เทอม1',
                        'เกรดปี2เทอม2',
                        # 'เกรดปี2เทอม3',
                        'เกรดปี3เทอม1',
                        'เกรดปี3เทอม2',
                        # 'เกรดปี3เทอม3',                                                    
                        'เกรดปี4เทอม1',
                        'เกรดปี4เทอม2',
                        # 'เกรดปี4เทอม3',
                        'FUND_NAME_CODE','PARENTS_MARRIED_NAME_CODE']]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MAJOR_ID                   4120 non-null   int64
 1   DEPT_ID                    4120 non-null   int64
 2   STUDY_TYPE_ID              4120 non-null   int64
 3   DEGREE_ID                  3929 non-null   float64
 4   STUDY_STATUS               4120 non-null   object
 5   SEX_SHORT_NAME_THAI        4120 non-null   int64
 6   IN_PROVINCE                4120 non-null   int64
 7   IN_PROVINCE_CAMPUS         4120 non-null   int64
 8   เกรดปี1เทอม1               4120 non-null   float64
 9   เกรดปี1เทอม2               3984 non-null   float64
 10  เกรดปี2เทอม1               3087 non-null   float64
 11  เกรดปี2เทอม2               2526 non-null   float64
 12  เกรดปี3เทอม1               2316 non-null   float64
 13  เกรดปี3เทอม2               1987 non-null   float64
 14  เกรดปี4เทอม1               1289 non-null   float64
 15  เกรดปี4เทอม2               820 non-null    float64
 16  FUND_NAME_CODE             4120 non-null   int64
 17  PARENTS_MARRIED_NAME_CODE  4120 non-null   int64
dtypes: float64(9), int64(8), object(1)
memory usage: 579.5+ KB

In [26]:
onlygradeavg = data[['เกรดปี1เทอม1','เกรดปี1เทอม2',#'เกรดปี1เทอม3',
                     'เกรดปี2เทอม1','เกรดปี2เทอม2',#'เกรดปี2เทอม3',
                     'เกรดปี3เทอม1','เกรดปี3เทอม2',#'เกรดปี3เทอม3',
                     'เกรดปี4เทอม1','เกรดปี4เทอม2',]]#'เกรดปี4เทอม3']]

In [27]:
data[['เกรดปี1เทอม1','เกรดปี1เทอม2',#'เกรดปี1เทอม3',
                     'เกรดปี2เทอม1','เกรดปี2เทอม2',#'เกรดปี2เทอม3',
                     'เกรดปี3เทอม1','เกรดปี3เทอม2',#'เกรดปี3เทอม3',
                     'เกรดปี4เทอม1','เกรดปี4เทอม2',]]= onlygradeavg.apply(lambda row: row.fillna(row.median()), axis=1)

--- Logging error ---
Traceback (most recent call last):
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\logging\__init__.py", line 1103, in emit
    stream.write(msg + self.terminator)
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\encodings\cp1252.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0]
UnicodeEncodeError: 'charmap' codec can't encode characters in position 402-407: character maps to <undefined>
Call stack:
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\traitlets\config\application.py", line 1043, in launch_instance
    app.start()
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\kernelapp.py", line 725, in start
    self.io_loop.start()
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tornado\platform\asyncio.py", line 215, in start
    self.asyncio_loop.run_forever()
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\asyncio\base_events.py", line 603, in run_forever
    self._run_once()
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\asyncio\base_events.py", line 1909, in _run_once
    handle._run()
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\kernelbase.py", line 513, in dispatch_queue
    await self.process_one()
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\kernelbase.py", line 502, in process_one
    await dispatch(*args)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\kernelbase.py", line 409, in dispatch_shell
    await result
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ipykernel\zmqshell.py", line 540, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12764\1746632492.py", line 1, in <module>
    data[['เกรดปี1เทอม1','เกรดปี1เทอม2',#'เกรดปี1เทอม3',
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\frame.py", line 3968, in __setitem__
    self._setitem_array(key, value)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\frame.py", line 4012, in _setitem_array
    self[k1] = value[k2]
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\frame.py", line 3980, in __setitem__
    self._set_item(key, value)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\frame.py", line 4187, in _set_item
    self._set_item_mgr(key, value)
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\frame.py", line 4152, in _set_item_mgr
    self._check_setitem_copy()
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\generic.py", line 4213, in _check_setitem_copy
    warnings.warn(t, SettingWithCopyWarning, stacklevel=find_stack_level())
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2800.0_x64__qbz5n2kfra8p0\lib\warnings.py", line 109, in _showwarnmsg
    sw(msg.message, msg.category, msg.filename, msg.lineno,
  File "C:\Users\Lenovo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pycaret\internal\logging.py", line 171, in _showwarning
    logger.warning(str(s))
Message: "C:\\Users\\Lenovo\\AppData\\Local\\Temp\\ipykernel_12764\\1746632492.py:1: SettingWithCopyWarning: \nA value is trying to be set on a copy of a slice from a DataFrame.\nTry using .loc[row_indexer,col_indexer] = value instead\n\nSee the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n  data[['เกรดปี1เทอม1','เกรดปี1เทอม2',#'เกรดปี1เทอม3',\n"
Arguments: ()

In [28]:
Data_all = data[data['STUDY_STATUS'].isin(['R','G'])]
# Data_all

In [29]:
Data_Test = data[data['STUDY_STATUS'].isin(['OK'])]
Data_Test = Data_Test.sample(n=100,random_state=10)
Data_Test.drop('STUDY_STATUS',axis=1,inplace=True)
# Data_Test = pandas.DataFrame({'MAJOR_ID':204, 
#                         'DEPT_ID':193,  
#                         'STUDY_TYPE_ID':1,
#                         'DEGREE_ID':252.0, 
#                         'SEX_SHORT_NAME_THAI':'ช',
#                         'ENT_METHOD':'โครงการรับนักเรียนที่มีผลการเรียนดี',  
#                         'IN_PROVINCE':'Y',
#                         'IN_PROVINCE_CAMPUS':'Y',
#                         'เกรดปี1เทอม1':3.71,
#                         'เกรดปี1เทอม2':np.nan,
#                         'เกรดปี2เทอม1':np.nan,
#                         'เกรดปี2เทอม2':np.nan,
#                         'เกรดปี3เทอม1':np.nan,
#                         'เกรดปี3เทอม2':np.nan,                                                
#                         'เกรดปี4เทอม1':np.nan,
#                         'เกรดปี4เทอม2':np.nan,
#                         'FUND_NAME_CODE':'other',
#                         'PARENTS_MARRIED_NAME_CODE':9},index=[0])

# Data_Test[['เกรดปี1เทอม1','เกรดปี1เทอม2',
#                      'เกรดปี2เทอม1','เกรดปี2เทอม2',
#                      'เกรดปี3เทอม1','เกรดปี3เทอม2',
#                      'เกรดปี4เทอม1','เกรดปี4เทอม2',]]= Data_Test[['เกรดปี1เทอม1','เกรดปี1เทอม2',
#                      'เกรดปี2เทอม1','เกรดปี2เทอม2',
#                      'เกรดปี3เทอม1','เกรดปี3เทอม2',
#                      'เกรดปี4เทอม1','เกรดปี4เทอม2',]].apply(lambda row: row.fillna(row.median()), axis=1)

In [30]:
s = setup(data=Data_all,target='STUDY_STATUS')

In [31]:
#models = compare_models()
# models

In [32]:
model = create_model('ada')

Initiated  . . . . . . . . . . . . . . . . . .             03:33:17
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Compiling Library

In [46]:
predict_model(model,data=Data_Test)

,MAJOR_ID,DEPT_ID,STUDY_TYPE_ID,DEGREE_ID,SEX_SHORT_NAME_THAI,IN_PROVINCE,IN_PROVINCE_CAMPUS,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,FUND_NAME_CODE,PARENTS_MARRIED_NAME_CODE,prediction_label,prediction_score
0,226,31,1,239.0,0,0,0,1.75,2.05,2.00,2.40,2.025,2.025,2.025,2.025,2,9,G,0.5317
1,240,34,1,243.0,0,1,1,3.69,3.15,3.29,3.87,0.000,3.290,3.290,3.290,2,9,G,0.8089
2,226,31,1,239.0,1,0,0,2.23,1.78,1.79,1.79,1.790,1.790,1.790,1.790,2,9,G,0.5153
3,250,33,1,238.0,1,0,0,2.30,1.75,3.18,2.79,2.545,2.545,2.545,2.545,1,9,G,0.9103
4,220,29,1,223.0,1,0,0,3.21,3.26,3.32,3.37,3.290,3.290,3.290,3.290,2,9,G,0.9191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,230,32,1,233.0,1,0,0,1.86,2.22,2.47,4.00,2.840,0.000,2.345,2.345,2,1,G,0.7352
96,240,34,1,243.0,0,0,0,2.50,2.27,2.93,2.50,2.500,2.500,2.500,2.500,2,2,G,0.7422
97,205,29,1,245.0,0,0,0,2.00,2.02,2.20,1.74,0.000,2.000,2.000,2.000,2,9,G,0.5176
98,250,33,1,238.0,1,1,1,1.30,2.27,2.52,4.00,2.460,2.750,2.490,2.490,2,9,G,0.8031
99,220,29,1,223.0,0,0,0,3.30,2.79,2.66,2.41,0.000,2.660,2.660,2.660,2,9,G,0.8322

In [34]:
len((model.feature_names_in_).tolist())

17

In [35]:
import joblib

In [36]:
joblib.dump(model,'../data/Predict_Retire_Model.pkl')

['../data/Predict_Retire_Model.pkl']

In [37]:
model_ = load_model('../data/Predict_Retire_Model')

Transformation Pipeline and Model Successfully Loaded

In [38]:
model_.feature_names_in_

array(['MAJOR_ID', 'DEPT_ID', 'STUDY_TYPE_ID', 'DEGREE_ID',
       'SEX_SHORT_NAME_THAI', 'IN_PROVINCE', 'IN_PROVINCE_CAMPUS',
       'เกรดปี1เทอม1', 'เกรดปี1เทอม2', 'เกรดปี2เทอม1', 'เกรดปี2เทอม2',
       'เกรดปี3เทอม1', 'เกรดปี3เทอม2', 'เกรดปี4เทอม1', 'เกรดปี4เทอม2',
       'FUND_NAME_CODE', 'PARENTS_MARRIED_NAME_CODE'], dtype=object)

In [39]:
Data_Test["FUND_NAME_CODE"].unique()

array([2, 1, 3], dtype=int64)

In [40]:
predict = predict_model(model_,data=Data_Test)

In [41]:
(predict["prediction_label"].replace(["G","R"],[0,1]) == model_.predict(Data_Test))

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: prediction_label, Length: 100, dtype: bool

In [53]:
pre = model_.predict_proba(Data_Test)[0]

In [55]:
(pre.tolist()).index(pre.max())

0

In [56]:
Dict = {0:"G",1:"R"}

In [58]:
Dict[(pre.tolist()).index(pre.max())]

'G'

In [42]:
model_.predict_ (Data_Test)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [44]:
model_.feature_names_in_

array(['MAJOR_ID', 'DEPT_ID', 'STUDY_TYPE_ID', 'DEGREE_ID',
       'SEX_SHORT_NAME_THAI', 'IN_PROVINCE', 'IN_PROVINCE_CAMPUS',
       'เกรดปี1เทอม1', 'เกรดปี1เทอม2', 'เกรดปี2เทอม1', 'เกรดปี2เทอม2',
       'เกรดปี3เทอม1', 'เกรดปี3เทอม2', 'เกรดปี4เทอม1', 'เกรดปี4เทอม2',
       'FUND_NAME_CODE', 'PARENTS_MARRIED_NAME_CODE'], dtype=object)

In [59]:
round(2.3656,2)

2.37

In [61]:
a,b = Dict[(pre.tolist()).index(pre.max())],f"{round(pre.max()*100,2)} %"

In [62]:
a

'G'

In [63]:
b

'53.17 %'